*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    
}

.header-prin{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.Redes{
    display: flex;
    align-items: center;
}
.Redes > li > a{
    padding: 5px 5px;
    color: #353535;
    text-decoration: none;
}

.header-logo {
    margin: 10px;
}

.navegacion{
    width: 1000px;
    margin: 10px auto;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    display: inline-block;
    font-weight: 700;
}

.menu > li > a{
    display: block;
    padding: 10px 20px;
    color: #353535;
    text-decoration: none;
}

.menu li a:hover{
    color: #3fce35;
    transition: all .5s;
}


.submenu{
    background-color: #ffffff;
    position: absolute;
    width: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.3s;
}
.submenu li a{
    display: block;
    padding: 10px;
    color: #353535;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

article{
    display: flex;
    background-color: #CE7D35;
    justify-content: center;
}

.imgTrabajos{
    width: 1000px;
}

.TexAudi{
    
}

@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video,.productos, .productos li{
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales,.enviar{
        width: 100%;
    }
    table{
        margin: auto auto 40px;
    }

}